argon2-cffi
asgiref
autopep8
bcrypt
boto3
botocore
cachetools
certifi
chardet
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-heroku
django-storages
google-api-core
google-cloud-core
google-auth
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
gunicorn
idna
jmespath
oauthlib
packaging
Pillow
protobuf
psycopg2
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyJWT
pyparsing
python-dateutil
python-decouple
python3-openid
pytz
requests
requests-oauthlib
rsa
s3transfer
six
sqlparse
toml
urllib3
whitenoise