<!DOCTYPE html>
{% load static %}
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!------------------------------ Box Icon ------------------------------>

<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<!------------------------------ CSS------------------------------>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static "css/index.css" %}">
<link rel="stylesheet" href="{% static "css/books.css" %}">
<link rel="icon" href="{% static "images/books.png" %}" type="image/png">
<title>Resources</title>
</head>

<body>
    <!------------------------------ SCROLL TOP------------------------------>
    <a href="#" class="scrolltop" id="scroll-top">
        <i class='bx bx-chevron-up scrolltop__icon'></i>
    </a>



    <!------------------------------ HEADER------------------------------>
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a href="{% url 'index' %}" class="nav-logo">MyLibrary</a>
            <class class="nav-menu" id="nav_menu">
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'index' %}" class="nav_link">Home</a></li>
                    <li class="nav-item"><a href="{% url 'index' %}#dashboard" class="nav_link">Dashboard </a></li>
                    <li class="nav-item"><a href="{% url 'index' %}#about" class="nav_link">About</a></li>
                    <li class="nav-item"><a href="{% url 'index' %}#contact" class="nav_link">Contact</a></li>
                    <li class="nav-item"><i class='bx bx-moon change-theme nav_link' id="theme-button"></i></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}"><i class='bx bx-log-out-circle nav_link' id="logout-btn"></i></a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'form' %}"><i class='bx bx-log-out-circle nav_link' id="logout-btn"></i></a></li>
                    {% endif %}
                </ul>
            </class>
            </div>
            <div class="nav_toggle" id="nav_toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>

    </header>



    <section class="dashboard section bd-container" id="dashboard">
        <div class="dashboard__container  bd-grid">
            <div class="dashboard__data">
                <h2 class="dashboard-subtitle darkmode" style="padding-top: 10%;">Welcome to Resources</h2>
            </div>
            <div class="container">
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <div class="img-background">
                                <div class="card-img">
                                    <img src="{% static "images/jobimg.png" %}" alt="">
                                </div>
                            </div>
                            <h3>
                                Placement
                            </h3>
                            <a href="{% url 'placement' %}">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <div class="content">
                            <div class="img-background">
                                <div class="card-img">
                                    <img src="{% static "images/interviewbook.png" %}" alt="">
                                </div>
                            </div>
                            <h3>
                                Academic
                            </h3>
                            <a href="{% url 'academic' %}">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!------------------------------ FOOTER------------------------------>

    <footer class="footer section bd-container">
        <div class="footer__container bd-grid">
            <div class="footer__content">
                <a href="{% url 'index' %}" class="footer__logo darkmode">MyLibrary</a>
            </div>

            <div class="footer__content">
                <h3 class="footer__title darkmode">Dashboard</h3>
                <ul>
                    <li><a href="{% url 'books' %}" class="footer__link">Book</a></li>
                    <li><a href="{% url 'syllabus' %}" class="footer__link">Syllabus</a></li>
                    <li><a href="{% url 'previousYear' %}" class="footer__link">Previous Year</a></li>
                    <li><a href="{% url 'resource' %}" class="footer__link">Resources</a></li>
                    <li><a href="http://makautexam.net/" class="footer__link">Makaut</a></li>
                </ul>
            </div>
            <div class="footer__content">
                <h3 class="footer__title darkmode">Information</h3>
                <ul>
                    <li><a href="{% url 'contact' %}" class="footer__link">Contact us</a></li>
                    <h3 class="footer__title darkmode">GitHub Profile</h3>
                    <a href="https://github.com/Aditya201551" class="footer__social darkmode"><i class='bx bxl-github'></i></a>
                    <a href="https://github.com/ManpreetKaur14" class="footer__social darkmode"><i class='bx bxl-github'></i></a>
                    <h3 class="footer__title darkmode">LinkedIn Profile</h3>
                    <a href="https://www.linkedin.com/in/aditya-raj-390247193/" class="footer__social darkmode"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://www.linkedin.com/in/manpreet-kaur-1151a2194/" class="footer__social darkmode"><i class='bx bxl-linkedin'></i></a>
                </ul>
            </div>

        </div>
    </footer>


    <!------------------------------ Scroll Reveal------------------------------>

    <script src="https://unpkg.com/scrollreveal"></script>

    <!------------------------------ JS------------------------------>

    <script src="{% static "js/books.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <script src="{% static "js/darkmode.js" %}"></script>
    </main>
</body>

</html>